NHOST_ADMIN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Gemini AI API
GEMINI_API_KEYS=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

YOUTUBE_API_KEY=

JWT_SECRET=

UPTIME_ROBOT_API_TOKEN=
UPTIME_ROBOT_MONITOR_URL_FILTER=

NVD_API_KEY=

# CONVERTAPI API KEYS

CONVERTAPI_SECRETS=
